<!-- IMPORTANT: Open http://localhost:8080 with your browser. -->
<!-- IMPORTANT: Neither file:// nor http://0.0.0.0 allow mic access. -->

<div class="chat-container">
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        Conversational agent
      </div>
      <div class="msger-header-options"></div>
    </header>

    <main class="msger-chat">
    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input speech-input" data-patience="2" placeholder="Enter your message..." />
      <input type="submit" class="msger-btn msger-btn-send" value="Send" />
    </form>

  </section>
</div>

<script src="js/vendor/speech-input.js"></script>
<script src="js/nlu.js"></script>
<script src="js/chatbot.js"></script>
